/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important


.home-link {
    background-image: url(/logo_line.png);
    background-size: 283px;
    background-repeat: no-repeat;
    width: 299px;
}

.gt-container .gt-meta {
  z-index: 9;
}

a {
  color: #d67a3d !important;
}


.home .hero .action-button {
  background-color: #d24e36 !important;
  color: white !important;
}


a.sidebar-link.active {
  border-left-color: #d67a3d !important;
}


/*
#d66f3b
*/

.nav-item > a:not(.external).router-link-active, .nav-item > a:not(.external):hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #d67a3d !important;
}